#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <200>;
};

&lt { quick-tap-ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 0>;
            layers = <0>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <2 0>;
            layers = <0>;
        };

        under_score {
            bindings = <&kp LS(INTERNATIONAL_1)>;
            key-positions = <29 28>;
            layers = <0>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <17 18>;
            layers = <0>;
        };

        select_line_combo {
            bindings = <&select_line>;
            key-positions = <24 20>;
            layers = <0>;
        };

        to_setting {
            bindings = <&mo 7>;
            key-positions = <38 39>;
            layers = <0>;
        };

        bracket5 {
            bindings = <&bracket5>;
            key-positions = <27 28>;
            layers = <0>;
        };
    };

    behaviors {
        right_click: right_click_behavior {
            compatible = "zmk,behavior-mouse-key";
            label = "RIGHT_CLICK";
            #binding-cells = <0>;

            // 右クリックは通常 MB2 に対応（ZMKの標準定義）

            bindings = <&mkp MB2>;
        };
    };

    macros {
        bracket1: bracket1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N8) &kp LS(N9) &kp LEFT_ARROW>;
            label = "BRACKET1";
        };

        bracket2: bracket2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(RIGHT_BRACKET) &kp LS(BACKSLASH) &kp LEFT>;
            label = "BRACKET2";
        };

        bracket3: bracket3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET &kp BACKSLASH &kp LEFT>;
            label = "BRACKET3";
        };

        bracket4: bracket4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_2) &kp LS(NUMBER_2) &kp LEFT>;
            label = "BRACKET4";
        };

        bracket5: bracket5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(COMMA) &kp LS(PERIOD) &kp LEFT>;
            label = "BRACKET5";
        };

        select_line: select_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp END>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "SELECT_LINE";
        };

        double_zero: double_zero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N0>;
            label = "DOUBLE_ZERO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                 &kp T                        &kp Y          &kp U        &kp I      &kp O       &kp P
&kp A             &kp S         &kp D         &kp F                 &kp G                        &kp H          &kp J        &kp K      &kp L       &kp ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                 &kp B                        &kp N          &kp M        &kp COMMA  &kp PERIOD  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &mt LEFT_SHIFT LANG2  &lt 1 SPACE  &lt 4 DELETE    &kp BACKSPACE  &lt 2 LANG1             &none       &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        Symbol+Mouse {
            bindings = <
&kp ESC         &kp LS(SEMICOLON)     &kp LS(SQT)       &kp LS(N5)               &kp LS(NUMBER_3)            &mkp MB5  &kp INTERNATIONAL_1  &kp LS(EQUAL)  &kp LEFT_BRACKET  &kp MINUS
&kp EQUAL       &kp LS(NUMBER_1)      &kp LS(NUMBER_6)  &kp LS(INTERNATIONAL_3)  &kp LS(NUMBER_4)            &mkp MB4  &mkp LCLK            &mo 3          &mkp RCLK         &kp SQT
&kp LEFT_SHIFT  &kp LS(LEFT_BRACKET)  &kp LS(N7)        &kp LS(NUMBER_2)         &bracket4                   &none     &kp PG_UP            &mkp MB3       &kp PG_DN         &kp SEMICOLON
&trans          &trans                &trans            &trans                   &trans            &trans    &trans    &trans                              &trans            &kp INTERNATIONAL_3
            >;
        };

        Bracket+Cursor {
            bindings = <
&none           &kp LG(UP_ARROW)  &kp LS(N8)             &kp LS(N9)         &bracket1            &kp LS(LG(S))           &kp LC(PG_UP)   &none           &kp LC(PAGE_DOWN)  &kp LG(Z)
&kp LG(LEFT)    &kp LG(RIGHT)     &kp LS(RIGHT_BRACKET)  &kp LS(BACKSLASH)  &bracket2            &kp LG(LS(LEFT_ARROW))  &mkp LCLK       &kp UP_ARROW    &mkp RCLK          &kp LG(LS(RIGHT))
&kp LEFT_SHIFT  &kp LG(DOWN)      &kp RIGHT_BRACKET      &kp BACKSLASH      &bracket3            &kp HOME                &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT          &kp END
&trans          &trans            &trans                 &trans             &trans     &trans    &to 3                   &trans                          &none              &none
            >;
        };

        OneHand {
            bindings = <
&kp BACKSPACE  &kp MINUS  &kp LS(SEMICOLON)  &kp ENTER     &kp ENTER              &mkp MB5  &none      &none     &none      &none
&kp LS(SQT)    &kp N9     &kp NUMBER_6       &kp NUMBER_3  &kp PERIOD             &mkp MB4  &mkp LCLK  &mo 5     &mkp RCLK  &none
&kp SLASH      &kp N8     &kp N5             &kp NUMBER_2  &double_zero           &none     &none      &mkp MB3  &none      &none
&kp TAB        &kp N7     &kp NUMBER_4       &kp NUMBER_1  &kp N0        &mo 6    &to 0     &mo 5                &none      &none
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        Func+Num {
            bindings = <
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5             &kp LS(MINUS)  &kp N1  &kp N2  &kp N3  &kp TAB
&kp F6     &kp F7  &kp F8  &kp F9   &kp F10            &kp PERIOD     &kp N4  &kp N5  &kp N6  &kp ENTER
&kp LSHFT  &none   &none   &kp F11  &kp F12            &kp N0         &kp N7  &kp N8  &kp N9  &none
&trans     &trans  &trans  &trans   &trans   &trans    &kp BSPC       &trans          &none   &none
            >;
        };

        Scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans            &kp LS(LG(S))  &trans          &trans          &trans     &trans
&trans  &trans  &trans  &trans  &trans            &trans         &trans          &kp UP_ARROW    &trans     &trans
&trans  &trans  &trans  &trans  &trans            &trans         &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans         &trans                          &trans     &trans
            >;
        };

        Tenkey_shift {
            bindings = <
&trans  &trans        &trans          &trans          &trans                &trans  &trans  &trans  &trans  &trans
&trans  &kp PG_UP     &kp RIGHT       &kp PAGE_DOWN   &kp DELETE            &trans  &trans  &trans  &trans  &trans
&trans  &kp UP_ARROW  &trans          &kp DOWN_ARROW  &trans                &trans  &trans  &trans  &trans  &trans
&trans  &kp HOME      &kp LEFT_ARROW  &kp END         &trans      &trans    &trans  &trans          &trans  &trans
            >;
        };

        Settings {
            bindings = <
&bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4            &bt BT_SEL 0       &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none          &none          &none          &none          &none                    &none              &none         &none         &none         &none
&none          &none          &none          &none          &none                    &kp C_VOLUME_DOWN  &kp C_VOL_UP  &none         &none         &none
&trans         &trans         &trans         &trans         &trans         &trans    &trans             &trans                      &trans        &trans
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans  &trans
            >;
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans  &trans
            >;
        };

        layer_10 {
            bindings = <
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans  &trans
            >;
        };

        layer_11 {
            bindings = <
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans  &trans
            >;
        };
    };
};
